.header {
  font-family: 'Manrope Regular';
  top: 55px;
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 12;

  @media screen and (max-width: 1500px) {
    top: 30px;
  }

  @media screen and (max-width: 768px) {
    top: 18px;
  }

  &__wrap {
    display: flex;
    width: 100%;
    align-items: center;
  }

  svg{
    position: relative;
    width: 100%;
    height: 60px;
    @media screen and (max-width: 768px) {
      height: 30px;
    }
  }

  &__main-logo {
    width: 62px;

    @media screen and (max-width: 1200px) {
      width: 50px;
    }

    @media screen and (max-width: 576px) {
      width: 35px;
    }

    img {
      width: 100%;
    }
  }

  &__logo {
    margin-left: 30px;
    width: 200px;
    @media screen and (max-width: 1200px) {
      width: 150px;
    }
    @media screen and (max-width: 576px) {
      margin-left: 15px;
      width: 110px;
    }

    img {
      width: 100%;
    }
  }

  &__menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin-left: auto;
    @media screen and (max-width: 768px) {
      display: none;
    }

    &-item {
      margin-right: 80px;
      @media screen and (max-width: 1200px) {
        margin-right: 50px;
      }

      @media screen and (max-width: 992px) {
        margin-right: 40px;
      }
    }

    &-link {
      font-size: 14px;
      color: $white-color;
      text-decoration: none;
      cursor: pointer;
      position: relative;

      &:before{
        content: '';
        width: 0%;
        left: 0px;
        position: absolute;
        bottom: -5px;
        transition: 0.3s;
        height: 1px;
        background-color: $yellow-btn-color;
      }

      &:focus {
        outline: none;
        box-shadow: none;
        border: none;
      }
      &:hover{
        &:before{
          transition: 0.3s;
          width: 100%;
        }
      }
    }
  }

  &__btn {
    width: 20px;
    height: 15px;
    position: relative;
    cursor: pointer;
    transition: 1.5s;
    transform: translate(-50px, 0px);

    span{
      display: block;
      width: 100%;
      height: 2px;
      background: $hamburger-color;
      transition: all .3s;
      position: absolute;
      right: 0px;
    }


    &[data-open="open"]{
      span{
        &:nth-of-type(1){
          animation: ease .7s top forwards;

        }
        &:nth-of-type(2){
          width: 100%;
          animation: ease .7s scale forwards;
        }
        &:nth-of-type(3){
          width: 100%;
          animation: ease .7s bottom forwards;
        }
      }
    }
    &[data-open="close"]{
      span{
        &:nth-of-type(1){
          animation: ease .7s top-back forwards;
        }
        &:nth-of-type(2){
          width: 73%;
          animation: ease .7s scale-back forwards;
        }
        &:nth-of-type(3){
          width: 51%;
          animation: ease .7s bottom-back forwards;
        }
      }
      // &:hover{
      //   span{
      //     &:nth-of-type(2){
      //       animation: ease .7s hover-scale forwards;
      //     }
      //     &:nth-of-type(3){
      //       animation: ease .7s hover-bottom forwards;
      //     }
      //   }
      // }
    }

    @media screen and (max-width: 768px) {
      margin-left: auto;
    }

    img {
      position: absolute;
      width: 100%;
    }

    @keyframes top{
      0%{
        width: 100%;
        transform: translate(0%, 0px) rotate(0deg);
      }
      50%{
        width: 100%;
        transform: translate(0%, 7px) rotate(0deg);
      }
      100%{
        width: 100%;
        transform: translate(0%, 7px) rotate(45deg);
      }
    }
    @keyframes bottom{
      0%{
        width: 51%;
        transform: translate(0%, 13px) rotate(0deg);
      }
      50%{
        width: 100%;
        transform: translate(0%, 7px) rotate(0deg);
      }
      100%{
        width: 100%;
        transform: translate(0%, 7px) rotate(-45deg);
      }
    }
    @keyframes scale{
      0%{
        width: 73%;
        transform: translate(0%, 7px) scale(1);
      }
      50%{
        width: 100%;
        transform: translate(0%, 7px) scale(1);
      }
      100%{
        width: 100%;
        transform: translate(0%, 7px) scale(0);
      }
    }

    @keyframes top-back{
      0%{
        width: 100%;
        transform: translate(0%, 7px) rotate(45deg);
      }
      50%{
        width: 100%;
        transform: translate(0%, 7px) rotate(0deg);
      }
      100%{
        width: 100%;
        transform: translate(0%, 0px) rotate(0deg);
      }
    }
    @keyframes bottom-back{
      0%{
        width: 100%;
        transform: translate(0%, 7px) rotate(-45deg);
      }
      50%{
        width: 100%;
        transform: translate(0%, 7px) rotate(0deg);
      }
      100%{
        width: 51%;
        transform: translate(0%, 13px) rotate(0deg);
      }
    }
    @keyframes scale-back{
      0%{
        width: 100%;
        transform: translate(0%, 7px) scale(0);
      }
      50%{
        width: 100%;
        transform: translate(0%, 7px) scale(0);
      }
      100%{
        width: 73%;
        transform: translate(0%, 7px) scale(1);
      }
    }

    @keyframes hover-scale{
      0%{
        width: 73%;
        transform: translate(0%, 7px) scale(1);
      }
      100%{
        width: 100%;
        transform: translate(0%, 7px) scale(1);
      }
    }
    @keyframes hover-bottom{
      0%{
        width: 51%;
        transform: translate(0%, 13px) rotate(0deg);
      }
      100%{
        width: 100%;
        transform: translate(0%, 13px) rotate(0deg);
      }
    }


    @media all and(max-width: 576px){
      margin-right: 6px;
      margin-top: -4px;
      transform: translate(0px, 0px);
    }
  }

  &.hidden{
    transform: translate(0px, -110%);
    top: 0%;
    position: fixed;
    transition: 0.3s;
    opacity: 0;
  }

  &-fixed{
    position: fixed !important;
    transform: translate(0px, -130%);
    transition: 0.3s;
    opacity: 1;
    top: 0px;
    background-color: $white-color;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.7);
    a{
      color: $black-color;
    }
  }

  &.active{
    transform: translate(0px, 0%);
    transition: 0.3s;
    z-index: 1001;
  }

  &.invert{
    background-color: transparent;
    box-shadow:none;
    z-index: 1001;
    a{
      color: $white-color;
    }
  }
}


.main-menu {

  opacity: 0;
  display: block;
  position: fixed;
  height: 100vh;
  min-height: auto;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  background-image: url("../static/img/menu-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -100;
  font-family: 'Manrope Regular', sans-serif;
  padding: 180px 0 70px 0;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-iteration-count: 1;
  transition: 0.3s;

  &-bg{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: linear-gradient(rgba(0, 0, 0, 0.7) 100%, rgba(0, 0, 0, 0.7) 100%);
    filter: blur(3px);
  }

  &.bg {
    background-image: url("../static/img/bg2.png");

    .main-menu__footer a, p {
      color: $white-color !important;
    }

    .main-menu__min a {
      color: $white-color !important;
    }
  }

  @media screen and (max-width: 1200px) {
    padding: 100px 0 70px 0;
  }

  @media screen and (max-width: 768px) {
    padding: 100px 0 10px 0;
  }

  &.show {
    z-index: 1000;
    transition: 0.3s;
    opacity: 1;
  }

  .container-fluid {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
  }

  &__table {
    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &__title {
    margin-bottom: 70px;
    color: $white-color;
    font-weight: bold;
    line-height: 0.75;
    font-size: 40px;
    font-family: 'Manrope Bold';

    @media screen and (max-width: 1200px) {
      font-size: 38px;
      margin-bottom: 60px;
    }
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 50px;
  }

  &__col {
    animation-duration: 1s;
    animation-delay: 0s;
    opacity: 0;

    .h3 {
      font-size: 24px;
      color: $white-color;
      font-weight: bold;
      line-height: 1.25;
      margin-bottom: 30px;
      display: block;
      text-decoration: none;
      position: relative;
      @media screen and (max-width: 1200px) {
        font-size: 20px;
        margin-bottom: 20px;
      }
    }
  }

  &__item {
    max-width: 250px;
    list-style: none;
    padding: 0;
    margin: 0;
    @media screen and (max-width: 1200px) {
      padding-right: 10px;
    }

    li {
      display: block;
      margin-bottom: 10px;
    }

    li a {
      color: rgba(255, 255, 255, 0.7);
      transition: all 0.25s;
      text-decoration: none;
      line-height: 1.2;
      font-size: 14px;

      &:focus {
        outline: none;
        box-shadow: none;
      }

      @media screen and (max-width: 1200px) {
        font-size: 12px;
      }

      &:hover {
        color: rgba(255, 255, 255, 1);
        text-decoration: none;
      }
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }

    p {
      font-size: 14px;
      margin-bottom: 0;
      color: rgb(153, 153, 153);
      font-family: 'Manrope Light', sans-serif;
      @media screen and (max-width: 768px) {
        text-align: center;
        margin-bottom: 20px;
      }
      @media screen and (max-width: 576px) {
        font-size: 10px;
        color: $white-color;
        letter-spacing: 0.4px;
      }
    }

    &--phone {
      position: relative;
      padding-left: 40px;
      font-size: 22px;
      display: block;
      height: 30px;
      line-height: 30px;
      transition: all 0.25s;
      color: $white-color;
      text-decoration: none;
      transition: all 0.25s;
      margin-bottom: 10px;
      @media screen and (max-width: 576px) {
        height: 21px;
        line-height: 21px;
        font-size: 16px;
        padding-left: 0;
        display: flex;
        justify-content: center;
      }

      &:hover {
        //text-decoration: underline;
        color: $white-color;
      }

      &:before {
        content: "";
        display: block;
        height: 30px;
        width: 30px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url("../static/img/phone-not-border.svg");
        position: absolute;
        top: 0;
        left: 0;
        @media screen and (max-width: 576px) {
          height: 21px;
          width: 21px;
          position: relative;
          margin-right: 10px;
        }
      }
    }

    .footer-link {
      border: 1px solid $yellow-btn-color;
      background: transparent;
      color: $white-color;
      transition: all 0.25s;
      text-decoration: none;
      font-size: 14px;
      @media screen and (max-width: 768px) {
        display: none;
      }
      span {
        display: inline-block;
        height: 15px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-image: url("../static/img/arrow-right.svg");
        width: 0px;
        transition: all 0.25s;
        margin-left: 10px;
        vertical-align: sub;
      }
      &:hover {
        background: $yellow-btn-color;
        color: $black-color;
        span {
          width: 25px;
        }
      }
    }
  }

  &__soc {
    list-style: none;
    padding: 0;
    align-items: center;
    width: 200px;
    justify-content: space-between;
    margin: auto;
    display: none;
    @media screen and (max-width: 768px) {
      display: flex;
    }

    a {
      display: block;
      text-decoration: none;
      color: $white-color;
      font-size: 20px;
    }
  }

  &__min {
    display: none;
    @media screen and (max-width: 768px) {
      display: block;
    }
  }
}

.min-menu {
  list-style: none;
  margin: auto;
  padding: 0;
  display: table;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-iteration-count: 1;

  &.hide {
    .min-menu__link {
      display: none;
    }

    .min-menu__sub {
      display: block;

      .min-menu__link {
        display: block;
        font-weight: bold;
      }
    }
  }

  &__item {
    text-align: center;
    margin-bottom: 27px;
  }

  &__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: $white-color;
    text-align: center;
    text-decoration: none;
    transition: all 0.25s;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  &__sub {
    display: none;

    &.show {
      display: block !important;
    }
  }

  &__comeback {
    position: relative;
    padding-left: 20px;
    font-weight: 400;

    &:before {
      content: '';
      display: block;
      width: 19px;
      height: 12px;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("../static/img/arrow-left-white.svg");
      fill: #ffffff;
      background-size: contain;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      margin: auto;
    }
  }
}


.header-page {
  position: relative;
  top: 30px;
  .header__menu {
    &-link {
      color: $black-color;
    }

    &.show {
      .header__menu-link {
        color: rgba(255, 255, 255, 0.7);
        transition: all 0.25s;

        &:hover {
          color: $white-color;
        }
      }
    }
  }
}


@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeOutDown {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

.fadeOutDown {
  -webkit-animation-name: fadeOutDown;
  animation-name: fadeOutDown;
}

@-webkit-keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}
