$main-fs: 16px;
$main-lh: 18px;

$white-color: #ffffff;
$green-color: #30b56c;
$black-color: #000000;

$blue-color: #3bc5ec;

$yellow-btn-color: #d6dd25;
$hamburger-color: #c0e02d;

body {
  font-family: 'Manrope Regular', sans-serif;
  min-height: 100vh;
}

div {
  box-sizing: border-box;
}

.white-text {
  color: $white-color;
}
