.project-main {
  padding-top: 190px;
  padding-bottom: 140px;
  @media screen and (max-width: 1500px) {
  }

  @media screen and (max-width: 1200px) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  @media screen and (max-width: 768px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .row {
    align-items: flex-start;
    justify-content: space-between;
  }

  .col-25 {
    width: 290px;
    min-width: 290px;
    @media screen and (max-width: 1200px) {
      display: none;
    }
  }

  &__nav {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-bottom: 50px;
    margin-top: 100px;

    li {
      display: block;
    }

    li a {
      font-size: 14px;
      color: #c6c6c6;
      line-height: 2;
      transition: all 0.25s;
      font-weight: 600;
      text-decoration: none;

      &:hover {
        color: $black-color;
      }
    }
  }

  &__image {
    width: 50%;
    min-width: 50%;
    position: relative;
    margin-top: -80px;
    @media screen and (max-width: 1500px) {
      margin-top: 0;
    }

    @media screen and (max-width: 1200px) {
      width: 40%;
      min-width: 40%;
    }

    @media screen and (max-width: 768px) {
      display: none;
    }

    img {
      width: 100%;
    }
  }

  &__info {
    width: calc(50% - 290px);
    min-width: calc(50% - 290px);
    @media screen and (max-width: 1200px) {
      width: 60%;
      min-width: 60%;
      padding-right: 40px;
      padding-left: 40px;
    }

    @media screen and (max-width: 992px) {
      padding-right: 20px;
      padding-left: 20px;
    }

    @media screen and (max-width: 768px) {
      width: 100%;
      min-width: 100%;
      padding: 0;
    }
    &--image {
      display: none;
      @media screen and (max-width: 768px) {
        display: block;
        margin-bottom: 20px;
        img {
          width: 100%;
          max-width: 540px;
        }
      }
    }

    .h1 {
      font-size: 3.5vw;
      line-height: 1.05;
      margin-bottom: 20px;
      @media screen and (max-width: 1200px) {
        font-size: 36px;
      }
    }

    .h4 {
      margin-bottom: 60px;
      @media screen and (max-width: 1200px) {
        margin-bottom: 50px;
      }
    }
  }

  .info-wrap {
    align-items: flex-start;
    justify-content: flex-start;
  }

  .info-col {
    width: 40%;
    min-width: 40%;
    font-size: 14px;
    line-height: 24px;
    @media screen and (max-width: 1500px) {
      width: 50%;
      min-width: 50%;
    }
    @media screen and (max-width: 768px) {
      font-size: 11px;
      letter-spacing: -0.3px;
      line-height: 18px;

      &:last-child {
        padding-left: 10px;
      }
    }

    .bold {
      font-weight: bold;
      margin-bottom: 5px;
    }

    p {
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 0;
      color: #c6c6c6;
      @media screen and (max-width: 768px) {
        font-size: 12px;
        line-height: 18px;
      }
    }

    &__wrap {
      max-height: 100px;
      position: relative;
      overflow: hidden;

      &.active {
        max-height: none;

        &:after {
          display: none;
        }
      }

      &:after {
        content: '';
        display: block;
        width: 100%;
        height: 40px;
        background: linear-gradient(transparent, #ffffff);
        z-index: 2;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }

    &__more {
      margin-top: 30px;
      font-size: 14px;
      line-height: 24px;
      margin-bottom: 0;
      color: #c6c6c6;
      cursor: pointer;
      transition: all 0.25s;
      @media screen and (max-width: 768px) {
        font-size: 12px;
        line-height: 18px;
        margin-top: 10px;
      }

      &:hover {
        color: $black-color;
        text-decoration: underline;
      }
    }
  }
}

.project-info {
  margin: 140px 0;
  @media screen and (max-width: 1200px) {
    margin: 100px 0;
  }

  @media screen and (max-width: 992px) {
    margin: 80px 0;
  }

  @media screen and (max-width: 768px) {
    margin: 50px 0;
  }

  .position {
    position: relative;
  }

  &__title {
    text-align: center;
    max-width: 620px;
    margin: 0 auto 90px auto;

    @media screen and (max-width: 768px) {
      padding: 0 15px;
      max-width: 540px;
      margin: 0 auto 60px auto;
    }

    @media screen and (max-width: 576px) {
      padding: 0 15px;
      max-width: 100%;
      margin: 0 auto 40px auto;
    }

    .h2 {
      margin-bottom: 30px;
    }
  }

  &__image {
    padding-bottom: 47%;
    position: relative;
    overflow: hidden;
    @media screen and (max-width: 992px) {
      padding-bottom: 50%;
    }

    @media screen and (max-width: 768px) {
      padding-bottom: 70%;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
      position: absolute;
    }
  }

  &__map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__item {
    position: absolute;
    z-index: 2;

    &.active {
      .info-block {
        opacity: 1;
        visibility: visible;
      }
    }

    .circle {
      width: 80px;
      height: 80px;
      background-color: $yellow-btn-color;
      border-radius: 50%;
      text-align: center;
      font-size: 20px;
      line-height: 80px;
      font-weight: 600;
      cursor: pointer;
      box-shadow: 2.5px 4.33px 16px -10px rgb(67, 70, 0);
      z-index: 3;
      @media screen and (max-width: 1200px) {
        width: 60px;
        height: 60px;
        line-height: 60px;
      }

      @media screen and (max-width: 768px) {
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 16px;
      }
    }

    &.item1 {
      top: 24%;
      left: 67%;
    }

    &.item2 {
      top: 45%;
      left: 47%;
    }

    &.item3 {
      top: 62%;
      left: 30%;
    }

    &.item4 {
      top: 66%;
      left: 60%;
    }
  }

  .info-block {
    background: $white-color;
    padding: 60px 20px 20px 20px;
    width: 200px;
    position: absolute;
    left: -60px;
    top: 40px;
    z-index: -1;
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    border-radius: 10px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    @media screen and (max-width: 1200px) {
      padding: 50px 20px 20px 20px;
      left: -70px;
      top: 30px;
    }

    @media screen and (max-width: 768px) {
      padding: 25px 10px 10px 10px;
      left: -50px;
      top: 20px;
      width: 140px;
      font-size: 11px;
    }

    @media screen and (max-width: 576px) {
      padding: 25px 10px 10px 10px;
      left: -40px;
      top: 20px;
      width: 120px;
      font-size: 9px;
    }
  }
}

.project-balance {
  padding: 150px 0;
  @media screen and (max-width: 1200px) {
    padding: 100px 0;
  }

  @media screen and (max-width: 992px) {
    padding: 80px 0;
  }

  @media screen and (max-width: 768px) {
    padding: 50px 0;
  }

  @media screen and (max-width: 576px) {
    padding: 30px 0;
  }

  .row1 {
    margin-bottom: 95px;
    align-items: center;
    @media screen and (max-width: 992px) {
      flex-direction: column;
      margin-bottom: 0;
    }

    .col-60 {
      width: 60%;
      min-width: 60%;
      padding-left: 50px;
      @media screen and (max-width: 1200px) {
        padding-left: 30px;
      }
      @media screen and (max-width: 992px) {
        width: 100%;
        min-width: 100%;
        padding-left: 0;
      }
    }

    .col-40 {
      width: 40%;
      min-width: 40%;
      padding-right: 50px;
      @media screen and (max-width: 1200px) {
        padding-right: 30px;
      }

      @media screen and (max-width: 992px) {
        width: 100%;
        min-width: 100%;
        padding-right: 0;
        margin-bottom: 60px;
      }
      @media screen and (max-width: 768px) {
        margin-bottom: 40px;
      }
    }

    .h2 {
      margin-bottom: 40px;
      @media screen and (max-width: 992px) {
        margin-bottom: 25px;
        br {
          display: none;
        }
      }
    }
  }

  .row2 {
    @media screen and (max-width: 992px) {
      display: none;
    }

    .col-60 {
      width: 60%;
      min-width: 60%;
      padding-right: 50px;
      @media screen and (max-width: 1200px) {
        padding-right: 30px;
      }
    }

    .col-30 {
      width: 30%;
      min-width: 30%;
      padding-left: 50px;
      @media screen and (max-width: 1200px) {
        padding-left: 30px;
        width: 35%;
        min-width: 35%;
      }
    }
  }

  &__image, &__image2 {
    padding-bottom: 60%;
    position: relative;
    overflow: hidden;

    img {
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      object-position: center;
      height: 100%;
      width: 100%;
    }
  }

  &__image2 {
    padding-bottom: 80%;
  }
}

.project-yard {
  padding: 150px 0;
  @media screen and (max-width: 1200px) {
    padding: 100px 0;
  }

  @media screen and (max-width: 992px) {
    padding: 80px 0;
  }

  @media screen and (max-width: 768px) {
    padding: 50px 0;
  }

  @media screen and (max-width: 576px) {
    padding: 30px 0;
  }

  .row1 {
    margin-bottom: 95px;
    align-items: center;
    position: relative;
    @media screen and (max-width: 992px) {
      margin-bottom: 0;
      flex-direction: column;
    }

    .col-60 {
      width: 60%;
      min-width: 60%;
      position: relative;
      @media screen and (max-width: 992px) {
        width: 100%;
        min-width: 100%;
        order: 2;
      }
    }

    .col-40 {
      width: 40%;
      min-width: 40%;
      padding-left: 100px;
      position: relative;
      @media screen and (max-width: 1200px) {
        padding-left: 50px;
      }

      @media screen and (max-width: 992px) {
        width: 100%;
        min-width: 100%;
        padding-left: 0;
        order: 1;
        margin-bottom: 60px;
      }

      @media screen and (max-width: 768px) {
        margin-bottom: 40px;
      }
    }

    .h2 {
      margin-bottom: 40px;
      @media screen and (max-width: 992px) {
        margin-bottom: 25px;
      }
    }
  }

  &__swiper {
    .swiper-slide {
      width: 100%;

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .row2 {
    justify-content: flex-end;
    @media screen and (max-width: 992px) {
      display: none;
    }

    .col-55 {
      width: 55%;
      min-width: 55%;
      margin-left: 50px;
      padding-bottom: 36%;
      position: relative;
      @media screen and (max-width: 1200px) {
        margin-left: 30px;
      }
    }

    .swiper-container {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;

      .swiper-slide {
        width: 100%;

        img {
          width: 100%;
          height: auto;
        }
      }
    }

    .swiper-button-next {
      left: -100px;
      right: auto;
    }

    .swiper-button-prev {
      left: -200px;
      right: auto;
    }

    .col-30 {
      width: 30%;
      min-width: 30%;
      padding-right: 50px;
      @media screen and (max-width: 1200px) {
        width: 35%;
        min-width: 35%;
        padding-right: 30px;
      }
    }
  }

  &__image2 {
    padding-bottom: 80%;
  }
}

.project-comfortable {
  padding: 150px 0;
  @media screen and (max-width: 1200px) {
    padding: 100px 0;
  }

  @media screen and (max-width: 992px) {
    padding: 80px 0;
  }

  @media screen and (max-width: 768px) {
    padding: 50px 0;
  }

  @media screen and (max-width: 576px) {
    padding: 30px 0;
  }

  .row {
    align-items: center;
    @media screen and (max-width: 992px) {
      flex-direction: column;
    }

    .h2 {
      margin-bottom: 40px;
      @media screen and (max-width: 992px) {
        margin-bottom: 25px;
      }
    }

    .col-60 {
      width: 60%;
      min-width: 60%;
      position: relative;
      @media screen and (max-width: 1200px) {
        padding-right: 50px;
      }
      @media screen and (max-width: 992px) {
        width: 100%;
        min-width: 100%;
        order: 2;
        padding-right: 0;
      }
    }

    .col-40 {
      width: 40%;
      min-width: 40%;
      padding-left: 100px;
      position: relative;
      @media screen and (max-width: 1200px) {
        padding-left: 0;
      }
      @media screen and (max-width: 992px) {
        width: 100%;
        min-width: 100%;
        padding-left: 0;
        order: 1;
        margin-bottom: 60px;
      }
      @media screen and (max-width: 768px) {
        margin-bottom: 40px;
      }
    }
  }

  &__swiper {
    .swiper-slide {
      width: 100%;

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

.project-smart {
  padding: 150px 0;
  @media screen and (max-width: 1200px) {
    padding: 100px 0;
  }

  @media screen and (max-width: 992px) {
    padding: 80px 0;
  }

  @media screen and (max-width: 768px) {
    padding: 50px 0;
  }

  @media screen and (max-width: 576px) {
    padding: 30px 0;
  }

  .row {
    align-items: center;
    @media screen and (max-width: 992px) {
      flex-direction: column;
    }

    .h2 {
      margin-bottom: 40px;
      @media screen and (max-width: 992px) {
        margin-bottom: 25px;
      }
    }

    p {
      margin-bottom: 40px;
    }

    .col-60 {
      width: 60%;
      min-width: 60%;
      position: relative;
      @media screen and (max-width: 992px) {
        width: 100%;
        min-width: 100%;
      }
    }

    .col-40 {
      width: 40%;
      min-width: 40%;
      padding-right: 100px;
      position: relative;
      @media screen and (max-width: 1200px) {
        padding-right: 50px;
      }

      @media screen and (max-width: 992px) {
        width: 100%;
        min-width: 100%;
        margin-bottom: 60px;
      }

      @media screen and (max-width: 768px) {
        margin-bottom: 40px;
      }
    }
  }

  &__image {
    padding-bottom: 60%;
    position: relative;
    overflow: hidden;

    img {
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      object-position: center;
      height: 100%;
      width: 100%;
    }
  }
}

.project-dget {
  padding: 150px 0;
  @media screen and (max-width: 1200px) {
    padding: 100px 0;
  }

  @media screen and (max-width: 992px) {
    padding: 80px 0;
  }

  @media screen and (max-width: 768px) {
    padding: 50px 0;
  }

  @media screen and (max-width: 576px) {
    padding: 30px 0;
  }

  .row {
    align-items: center;
    @media screen and (max-width: 992px) {
      flex-direction: column;
    }

    .h2 {
      margin-bottom: 40px;
      @media screen and (max-width: 992px) {
        margin-bottom: 25px;
      }
    }

    p {
      margin-bottom: 40px;
    }

    .col-60 {
      width: 60%;
      min-width: 60%;
      position: relative;
      @media screen and (max-width: 992px) {
        width: 100%;
        min-width: 100%;
        order: 2;
      }
    }

    .col-40 {
      width: 40%;
      min-width: 40%;
      padding-left: 100px;
      position: relative;
      padding-bottom: 40px;
      @media screen and (max-width: 1200px) {
        padding-left: 50px;
      }
      @media screen and (max-width: 992px) {
        width: 100%;
        min-width: 100%;
        padding-left: 0;
        order: 1;
        margin-bottom: 60px;
        padding-bottom: 0;
      }
      @media screen and (max-width: 768px) {
        margin-bottom: 40px;
      }
    }
  }

  &__swiper {
    .swiper-slide {
      width: 100%;

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

.project-details {
  padding: 150px 0;
  @media screen and (max-width: 1200px) {
    padding: 100px 0;
  }

  @media screen and (max-width: 992px) {
    padding: 80px 0;
  }

  @media screen and (max-width: 768px) {
    padding: 50px 0;
  }

  @media screen and (max-width: 576px) {
    padding: 30px 0;
  }


  .row {
    align-items: center;
    position: relative;
    @media screen and (max-width: 992px) {
      flex-direction: column;
    }

    .h2 {
      margin-bottom: 40px;
      @media screen and (max-width: 992px) {
        margin-bottom: 25px;
      }
    }

    .col-60 {
      width: 60%;
      min-width: 60%;
      position: relative;
      @media screen and (max-width: 992px) {
        width: 100%;
        min-width: 100%;
      }
    }

    .col-40 {
      width: 40%;
      min-width: 40%;
      padding-right: 100px;
      position: relative;
      @media screen and (max-width: 1200px) {
        padding-right: 50px;
      }
      @media screen and (max-width: 992px) {
        width: 100%;
        min-width: 100%;
        padding-right: 0;
        margin-bottom: 60px;
      }
      @media screen and (max-width: 768px) {
        margin-bottom: 20px;
      }
    }
  }

  &__swiper {
    .swiper-slide {
      width: 100%;

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .swiper-button-next {
    left: calc(-66% + 100px);
    right: auto;
  }

  .swiper-button-prev {
    left: calc(-66%);
    right: auto;
  }
}

.project-team {
  padding: 150px 0;

  @media screen and (max-width: 1200px) {
    padding: 100px 0;
  }

  @media screen and (max-width: 992px) {
    padding: 80px 0;
  }

  @media screen and (max-width: 768px) {
    padding: 50px 0;
  }

  @media screen and (max-width: 576px) {
    padding: 30px 0;
  }

  .row {
    flex-wrap: wrap;
    align-items: flex-start;
    @media screen and (max-width: 1200px) {
      justify-content: space-between;
    }
    @media screen and (max-width: 992px) {
     flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  .col-30 {
    width: calc(100% / 3);
    min-width: calc(100% / 3);
    padding: 0 50px;
    text-align: center;
    display: flex;
    align-self: stretch;
    @media screen and (max-width: 1500px) {
      padding: 0 20px;
    }

    @media screen and (max-width: 1200px) {
      padding: 0;
      width: calc(100% / 3 - 20px);
      min-width: calc(100% / 3 - 20px);
    }

    @media screen and (max-width: 992px) {
      width: 60%;
      min-width: 60%;
      margin: 0 auto 60px auto;
    }

    @media screen and (max-width: 768px) {
      width: 100%;
      min-width: 100%;
    }
  }

  &__title {
    margin: 0 auto 110px auto;
    width: 100%;
    text-align: center;
    @media screen and (max-width: 1200px) {
      margin: 0 auto 60px auto;
    }

    .h2, p {
      max-width: 620px;
      margin: 0 auto 40px auto;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__photo {
    border-radius: 50%;
    box-shadow: 7.5px 12.99px 40px -20px rgb(0, 0, 0);
    width: 200px;
    height: 200px;
    overflow: hidden;
    position: relative;
    margin: 0 auto 50px auto;
    transition: all 0.25s;
    @media screen and (max-width: 1200px) {
      width: 180px;
      height: 180px;
      margin: 0 auto 30px auto;
    }

    @media screen and (max-width: 768px) {
      width: 150px;
      height: 150px;
    }

    &:hover {
      transform: scale(1.05);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      position: relative;
    }
  }

  &__about {
    margin-bottom: 30px;
    @media screen and (max-width: 1200px) {
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__name {
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 16px;
  }

  &__logo {
    max-width: 150px;
    margin: auto auto 0 auto;

    img {
      max-width: 100%;
    }
  }
}

.project-map {
  padding: 150px 0;
  @media screen and (max-width: 1200px) {
    padding: 100px 0;
  }

  @media screen and (max-width: 992px) {
    padding: 80px 0;
  }

  @media screen and (max-width: 768px) {
    padding: 50px 0;
  }

  @media screen and (max-width: 576px) {
    padding: 30px 0;
  }

  &__title {
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
    margin-bottom: 130px;
    @media screen and (max-width: 992px) {
      margin-bottom: 80px;
    }

    @media screen and (max-width: 768px) {
      margin-bottom: 60px;
      max-width: 540px;
    }

    @media screen and (max-width: 576px) {
      margin-bottom: 40px;
      padding: 0 15px;
    }

    .h2 {
      margin-bottom: 15px;
    }
  }

  .map {
    height: 800px;
    position: relative;
    width: 100%;

    @media screen and (max-width: 992px) {
      height: 600px;
    }

    @media screen and (max-width: 768px) {
      height: 500px;
    }

    @media screen and (max-width: 576px) {
      height: 400px;
    }
  }

  .map-list {
    height: 600px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 160px;
    background: $white-color;
    width: 466px;
    padding: 70px 60px 30px 60px;
    z-index: 3;
    @media screen and (max-width: 1500px) {
      left: 80px;
    }

    @media screen and (max-width: 1200px) {
      left: 20px;
      width: 430px;
      top: 20px;
      padding: 70px 40px 30px 40px;
    }

    @media screen and (max-width: 992px) {
      display: none;
    }

    &__header {
      margin-bottom: 40px;
      font-family: 'Manrope ExtraBold', sans-serif;
    }

    &__item {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
    }

    .item-hide {
      display: none;
    }

    .item-show {
      display: flex;
    }

    &__icon {
      width: 40px;
      min-width: 40px;
      height: 40px;
      background: $white-color;
      box-shadow: 0px 5px 10px -5px rgb(0, 0, 0);
      border-radius: 50%;
      margin-right: 15px;
    }

    &__text {
      font-size: 16px;
      line-height: 1.2;
    }

    &__more {
      line-height: 22px;
      color: #c7c7c7;
      font-size: 14px;
      cursor: pointer;

      span {
        vertical-align: top;
        margin-right: 5px;
      }
    }
  }
}

.project-progress {
  padding: 150px 0;
  @media screen and (max-width: 1200px) {
    padding: 100px 0;
  }

  @media screen and (max-width: 992px) {
    padding: 80px 0;
  }

  @media screen and (max-width: 768px) {
    padding: 50px 0;
  }

  @media screen and (max-width: 576px) {
    padding: 30px 0;
  }

  .row {
    height: 630px;
    align-items: center;
    @media screen and (max-width: 1500px) {
      height: 500px;
    }

    @media screen and (max-width: 992px) {
      flex-direction: column;
      max-width: 720px;
      margin: auto;
      height: auto;
    }

    @media screen and (max-width: 768px) {
      max-width: 540px;
    }

    @media screen and (max-width: 576px) {
      max-width: 100%;
      padding: 0 15px;
    }
  }

  .h2, p {
    margin-bottom: 40px;
  }

  .col-40 {
    width: 40%;
    min-width: 40%;
    padding-right: 100px;
    padding-left: calc((100% - 1466px) / 2);

    @media screen and (max-width: 1500px) {
      padding-left: calc((100% - 1140px) / 2);
      padding-right: 50px;
    }

    @media screen and (max-width: 1200px) {
      padding-left: calc((100% - 960px) / 2);
    }

    @media screen and (max-width: 992px) {
      width: 100%;
      min-width: 100%;
      padding: 0;
      margin-bottom: 60px;
    }

    @media screen and (max-width: 768px) {
      margin-bottom: 40px;
    }
  }

  .col-60 {
    width: 60%;
    min-width: 60%;
    @media screen and (max-width: 992px) {
      width: 100%;
      min-width: 100%;
    }
  }

  &__content {
    top: 0;
    height: 630px;
    left: 40%;
    @media screen and (max-width: 1500px) {
      height: 500px;
    }

    @media screen and (max-width: 1200px) {
      height: 430px;
    }

    @media screen and (max-width: 992px) {
      height: auto;
    }
  }

  &__tab {
    height: 100%;
    display: none;

    &.active {
      display: block;
    }
  }

  &__swiper {
    height: 100%;

    .swiper-slide {
      width: 800px;
      height: 100%;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: flex-start;

      @media screen and (max-width: 1500px) {
        width: 600px;
      }

      @media screen and (max-width: 1200px) {
        width: 500px;
      }

      @media screen and (max-width: 992px) {
        width: 100%;
      }

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  &__image {
    width: 100%;
    padding-bottom: 63%;
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
  }

  &__date {
    font-weight: 900;
    font-size: 20px;
    @media screen and (max-width: 992px) {
      margin-bottom: 10px;
    }

    span {
      font-size: 12px;
      color: #c6c6c6;
      margin-left: 10px;
    }
  }

  &__info {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: none;

    &.show {
      display: block;
    }

    p {
      font-size: 14px;
      margin-bottom: 0;
      line-height: 18px;
    }
  }

  &__more {
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
    @media screen and (max-width: 992px) {
      margin-top: 10px;
    }
  }
}

.tab {
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;

  &__item {
    width: 60px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 15px;
    transition: all 0.25s;
    margin-right: 10px;
    color: rgb(198, 198, 198);

    &:hover {
      background: $yellow-btn-color;
      color: $black-color;
    }

    &.active {
      background: $yellow-btn-color;
      color: $black-color;
    }
  }
}

.project-build {
  padding: 150px 0;
  @media screen and (max-width: 1200px) {
    padding: 100px 0;
  }

  @media screen and (max-width: 992px) {
    padding: 80px 0;
  }

  @media screen and (max-width: 768px) {
    padding: 50px 0;
  }


  &__title {
    text-align: center;
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
    margin-bottom: 70px;

    .h2, p {
      margin-bottom: 40px;
    }
  }
}

.project-banner {
  @media screen and (max-width: 992px) {
    display: none;
  }
  margin: 140px 0;
  height: 340px;
  background-image: url('../static/img/cloud2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  box-sizing: border-box;
  align-items: center;

  &__image {
    width: 40%;
    position: absolute;
    bottom: 0;
    left: 37%;

    img {
      width: 100%;
      height: auto;
    }
  }

  .row {
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    padding: 0 7%;
    height: 340px;
  }

  &__text {
    width: 400px;
  }

  &__link {
    display: block;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    color: $black-color;
    transition: all 0.25s;

    img {
      display: block;
      margin: 0 auto 20px auto;
    }

    &:hover {
      color: $black-color;
      text-decoration: underline;
    }
  }
}

.project-footer {
  height: 340px;
  background-image: url('../static/img/cloud.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 75px 0 70px 0;
  position: relative;
  box-sizing: border-box;
  @media screen and (max-width: 768px) {
    background-size: 400px;
    background-position-x: -170px;
    background-position-y: 60px;
    background-color: #c5e4e8;
    padding: 40px 15px;
    height: auto;
  }

  &__image {
    width: 32%;
    position: absolute;
    bottom: 0;
    left: 43%;
    @media screen and (max-width: 768px) {
      width: 240px;
      left: -130px;
      top: -32px;
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  .row {
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    @media screen and (max-width: 768px) {
      flex-direction: column;
      max-width: 540px;
      margin: auto;
    }
  }

  &__info {
    align-self: stretch;
    width: 300px;
    min-width: 300px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
    @media screen and (max-width: 768px) {
      order: 2;
      width: 100%;
      min-width: 100%;
    }

    p {
      font-size: 14px;
      @media screen and (max-width: 576px) {
        font-size: 12px;
      }
    }
  }

  &__phone {
    display: block;
    text-decoration: none;
    font-weight: bold;
    color: $black-color;
    position: relative;
    margin-bottom: 10px;
    padding-left: 40px;
    font-size: 20px;
    line-height: 32px;
    transition: all 0.25s;
    @media screen and (max-width: 768px) {
      font-size: 18px;
      line-height: 28px;
      padding-left: 35px;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 32px;
      width: 32px;
      display: block;
      background-image: url('../static/img/phone2.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      @media screen and (max-width: 768px) {
        height: 28px;
        width: 28px;
      }
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__soc {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    @media screen and (max-width: 768px) {
      max-width: 280px;
      width: 100%;
      margin-top: 60px;
    }

    li a {
      display: block;
      text-decoration: none;
      color: $white-color;
      font-size: 20px;
      transition: all 0.25s;
      @media screen and (max-width: 992px) {
        color: $black-color;
      }

      @media screen and (max-width: 768px) {
        color: $white-color;
      }

      &:hover {
        color: $black-color;
      }
    }
  }

  &__next {
    @media screen and (max-width: 768px) {
      width: 50%;
      min-width: 50%;
      margin-left: auto;
      margin-bottom: 50px;
    }
    p {
      margin-bottom: 15px;
      @media screen and (max-width: 768px) {
        font-size: 12px;
        margin-bottom: 5px;
      }
    }

    .h2 {
      margin-bottom: 40px;
      @media screen and (max-width: 768px) {
        margin-bottom: 30px;
      }
    }
  }

  &__link {
    display: block;
    height: 60px;
    width: 60px;
    transition: all 0.25s;
    @media screen and (max-width: 768px) {
      height: 40px;
      width: 40px;
    }

    img {
      width: 100%;
    }

    &:hover {
      padding-left: 10px;
    }
  }
}

.swiper-button-next, .swiper-button-prev {
  background-image: none;
  height: 46px;
  width: 46px;
  position: absolute;
  bottom: 0;
  top: auto;
  @media screen and (max-width: 1200px) {
    bottom: -60px;
  }

  svg g .circle {
    fill: #eaeaea !important;
  }

  &:hover {
    .svg-arrow {
      fill: $yellow-btn-color !important;
    }
  }
}

.swiper-button-next {
  left: calc(100% + 180px);
  right: auto;
  @media screen and (max-width: 1200px) {
    left: calc(100% - 100px);
  }
  @media screen and (max-width: 992px) {
    left: calc(100% - 46px);
  }
}

.swiper-button-prev {
  left: calc(100% + 100px);
  right: auto;
  @media screen and (max-width: 1200px) {
    left: calc(100% - 180px);
  }

  @media screen and (max-width: 992px) {
    left: calc(100% - 120px);
  }
}
