<div class="complex">
    <div class="container">
       <div class="h3 complex__title">Наши комплексы</div>
        <div class="complex__wrap">
            <a href="#"  class="complex__item" style="background-image:linear-gradient(to bottom, rgba(0,0,0,0),
            rgba(0,0,0,0.6)), url('static/img/complex.jpg')">
                <div class="complex__item-title">5 Континентов</div>
                <div class="complex__item-date">Сдача IV 2021</div>


                <div class="complex__item-footer">
                    <div>
                        <p><b>Адрес</b><br>Ул. Пушкинская<br>
                            / ул. Кирова</p>

                        <p><b>Квартиры</b><br>Свободных<br>
                            квартир: 352</p>
                    </div>

                    <div class="complex__item-link"></div>
                </div>
            </a>


            <a href="#"  class="complex__item" style="background-image:linear-gradient(to bottom, rgba(0,0,0,0),
            rgba(0,0,0,0.6)), url('static/img/complex.jpg')">
                <div class="complex__item-title">5 Континентов</div>
                <div class="complex__item-date">Сдача IV 2021</div>


                <div class="complex__item-footer">
                    <div>
                        <p><b>Адрес</b><br>Ул. Пушкинская<br>
                            / ул. Кирова</p>

                        <p><b>Квартиры</b><br>Свободных<br>
                            квартир: 352</p>
                    </div>

                    <div class="complex__item-link"></div>
                </div>
            </a>

            <a href="#"  class="complex__item" style="background-image:linear-gradient(to bottom, rgba(0,0,0,0),
            rgba(0,0,0,0.6)), url('static/img/complex.jpg')">
                <div class="complex__item-title">5 Континентов</div>
                <div class="complex__item-date">Сдача IV 2021</div>


                <div class="complex__item-footer">
                    <div>
                        <p><b>Адрес</b><br>Ул. Пушкинская<br>
                            / ул. Кирова</p>

                        <p><b>Квартиры</b><br>Свободных<br>
                            квартир: 352</p>
                    </div>

                    <div class="complex__item-link"></div>
                </div>
            </a>

            <a href="#"  class="complex__item" style="background-image:linear-gradient(to bottom, rgba(0,0,0,0),
            rgba(0,0,0,0.6)), url('static/img/complex.jpg')">
                <div class="complex__item-title">5 Континентов</div>
                <div class="complex__item-date">Сдача IV 2021</div>


                <div class="complex__item-footer">
                    <div>
                        <p><b>Адрес</b><br>Ул. Пушкинская<br>
                            / ул. Кирова</p>

                        <p><b>Квартиры</b><br>Свободных<br>
                            квартир: 352</p>
                    </div>

                    <div class="complex__item-link"></div>
                </div>
            </a>
        </div>
    </div>
</div>
