<footer class="footer">
    <div class="container">
        <div class="footer__block">
            <div class="footer__content">
                <div class="creator">© 2006-2018, УралДомСтрой.</div>
                <div class="footer__info">Любая информация, представленная на данном сайте, носит исключительно
                    информационный характер<br>и ни при каких условиях не является публичной офертой, определяемой
                    положениями статьи 437 Гражданского кодекса РФ.
                </div>
            </div>
            <div class="footer__social">
                <a href="tel:+78887776655" class="footer__social-phone">
                  <i class="fas fa-phone"></i>
                  <span>
                    +7 (888) 777-66-55
                  </span>
                </a>
                <div class="footer__social-title">Ижевск, ул. Ленина, 21. Ждём вас!</div>
                <ul class="footer__social-menu">
                    <li class="footer__social-item">
                        <a class="footer__social-link" href="javascript:void(0)"><i class="fab fa-vk"></i></a>
                    </li>
                    <li class="footer__social-item">
                        <a class="footer__social-link" href="javascript:void(0)"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="footer__social-item">
                        <a class="footer__social-link" href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li class="footer__social-item">
                        <a class="footer__social-link" href="javascript:void(0)"><i class="fab fa-instagram"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<script type="text/javascript" src="/js/vendor.js"></script>
<script type="text/javascript" src="/js/main.js"></script>
</body>
</html>
