<header class="header">
    <div class="container-fluid">
        <div class="header__wrap">
            <a href="main.html" class="header__main-logo">
                <img src="static/img/logo.svg" alt="">
            </a>

            <a href="main.html" class="header__logo">
              <svg width="240" height="64" fill="#aeaeae">
                <use xlink:href="#logo"></use>
              </svg>
            </a>

            <ul class="header__menu">
                <li class="header__menu-item">
                    <a href="buy.html" class="header__menu-link">Как купить</a>
                </li>

                <li class="header__menu-item">
                    <a href="news.html" class="header__menu-link">Акции</a>
                </li>

                <li class="header__menu-item">
                    <a href="choose-flat.html" class="header__menu-link">Выбрать квартиру</a>
                </li>

                <li class="header__menu-item">
                    <a href="contact.html" class="header__menu-link">Контакты</a>
                </li>
            </ul>

            <div class="header__btn">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</header>

<header class="header-fixed">
    <div class="container-fluid">
        <div class="header__wrap">
            <a href="main.html" class="header__main-logo">
                <img src="static/img/logo.svg" alt="">
            </a>

            <a href="main.html" class="header__logo">
                <img src="static/img/logo-ural.svg" alt="">
            </a>

            <ul class="header__menu">
                <li class="header__menu-item">
                    <a href="buy.html" class="header__menu-link">Как купить</a>
                </li>

                <li class="header__menu-item">
                    <a href="news.html" class="header__menu-link">Акции</a>
                </li>

                <li class="header__menu-item">
                    <a href="choose-flat.html" class="header__menu-link">Выбрать квартиру</a>
                </li>

                <li class="header__menu-item">
                    <a href="contact.html" class="header__menu-link">Контакты</a>
                </li>
            </ul>

            <div class="header__btn">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</header>

<div class="main-menu">
    <div class="container-fluid">
        <div>
            <div class="h1 main-menu__title">Жилые комплексы в CITY</div>
            <div class="main-menu__wrap">
                <div class="main-menu__col">
                    <div class="h3">Пять континентов</div>
                    <ul class="main-menu__item">
                        <li><a href="#">Новый центр вашего притяжения</a></li>
                        <li><a href="#">Баланс тишины и динамики</a></li>
                        <li><a href="#">Комфортная среда для каждого</a></li>
                        <li><a href="#">Умные планировки</a></li>
                        <li><a href="#">Детали</a></li>
                        <li><a href="#">Двор</a></li>
                        <li><a href="#">Команда проекта</a></li>
                        <li><a href="#">Мир вокруг</a></li>
                        <li><a href="#">Динамика строительства</a></li>
                    </ul>
                </div>

                <div class="main-menu__col">
                    <div class="h3">Ocean City</div>
                    <ul class="main-menu__item">
                        <li><a href="#">Новый центр вашего притяжения</a></li>
                        <li><a href="#">Баланс тишины и динамики</a></li>
                        <li><a href="#">Комфортная среда для каждого</a></li>
                        <li><a href="#">Умные планировки</a></li>
                        <li><a href="#">Детали</a></li>
                        <li><a href="#">Двор</a></li>
                        <li><a href="#">Команда проекта</a></li>
                        <li><a href="#">Мир вокруг</a></li>
                        <li><a href="#">Динамика строительства</a></li>
                    </ul>
                </div>

                <div class="main-menu__col">
                    <div class="h3">Парус</div>
                    <ul class="main-menu__item">
                        <li><a href="#">Новый центр вашего притяжения</a></li>
                        <li><a href="#">Баланс тишины и динамики</a></li>
                        <li><a href="#">Комфортная среда для каждого</a></li>
                        <li><a href="#">Умные планировки</a></li>
                        <li><a href="#">Детали</a></li>
                        <li><a href="#">Двор</a></li>
                        <li><a href="#">Команда проекта</a></li>
                        <li><a href="#">Мир вокруг</a></li>
                        <li><a href="#">Динамика строительства</a></li>
                    </ul>
                </div>

                <div class="main-menu__col">
                    <div class="h3">Eco Life</div>
                    <ul class="main-menu__item">
                        <li><a href="#">Новый центр вашего притяжения</a></li>
                        <li><a href="#">Баланс тишины и динамики</a></li>
                        <li><a href="#">Комфортная среда для каждого</a></li>
                        <li><a href="#">Умные планировки</a></li>
                        <li><a href="#">Детали</a></li>
                        <li><a href="#">Двор</a></li>
                        <li><a href="#">Команда проекта</a></li>
                        <li><a href="#">Мир вокруг</a></li>
                        <li><a href="#">Динамика строительства</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="main-menu__footer">
            <div>
                <a href="tel:+9 (888) 777-66-55" class="main-menu__footer--phone">+9 (888) 777-66-55</a>
                <p>Ижевск, ул. Карла Маркса / ул. Кирова</p>
            </div>
            <a href="choose-flat.html" class="">Выбрать квартиру</a>
        </div>
    </div>
</div>
