<header class="header header-page">
    <div class="container-fluid">
        <div class="header__wrap">
            <a href="main.html" class="header__main-logo">
                <img src="static/img/logo.svg" alt="">
            </a>

            <a href="https://www.uds18.ru/" class="header__logo">
              <svg fill="#aeaeae">
                <use xlink:href="#logo"></use>
              </svg>
            </a>

            <ul class="header__menu">
                <li class="header__menu-item">
                    <a href="buy.html" class="header__menu-link">Как купить</a>
                </li>

                <li class="header__menu-item">
                    <a href="news.html" class="header__menu-link">Акции</a>
                </li>

                <li class="header__menu-item">
                    <a href="choose-flat.html" class="header__menu-link">Выбрать квартиру</a>
                </li>

                <li class="header__menu-item">
                    <a href="contact.html" class="header__menu-link">Контакты</a>
                </li>
            </ul>

            <div class="header__btn" data-open="close">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</header>
<div class="header header-fixed">
    <div class="container-fluid">
        <div class="header__wrap">
            <a href="main.html" class="header__main-logo">
                <img src="static/img/logo.svg" alt="">
            </a>

            <a href="https://www.uds18.ru/" class="header__logo">
              <svg fill="#aeaeae">
                <use xlink:href="#logo"></use>
              </svg>
            </a>

            <ul class="header__menu">
                <li class="header__menu-item">
                    <a href="buy.html" class="header__menu-link">Как купить</a>
                </li>

                <li class="header__menu-item">
                    <a href="news.html" class="header__menu-link">Акции</a>
                </li>

                <li class="header__menu-item">
                    <a href="choose-flat.html" class="header__menu-link">Выбрать квартиру</a>
                </li>

                <li class="header__menu-item">
                    <a href="contact.html" class="header__menu-link">Контакты</a>
                </li>
            </ul>

            <div class="header__btn" data-open="close">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</div>

<div class="main-menu">
    <div class="container-fluid">
        <div class="main-menu__table">
            <div class="h1 main-menu__title">Жилые комплексы в CITY</div>
            <div class="main-menu__wrap">
                <div class="main-menu__col">
                    <div class="h3">Пять континентов</div>
                    <ul class="main-menu__item">
                        <li><a href="#">Новый центр вашего притяжения</a></li>
                        <li><a href="#">Баланс тишины и динамики</a></li>
                        <li><a href="#">Комфортная среда для каждого</a></li>
                        <li><a href="#">Умные планировки</a></li>
                        <li><a href="#">Детали</a></li>
                        <li><a href="#">Двор</a></li>
                        <li><a href="#">Команда проекта</a></li>
                        <li><a href="#">Мир вокруг</a></li>
                        <li><a href="#">Динамика строительства</a></li>
                    </ul>
                </div>

                <div class="main-menu__col">
                    <div class="h3">Ocean City</div>
                    <ul class="main-menu__item">
                        <li><a href="#">Новый центр вашего притяжения</a></li>
                        <li><a href="#">Баланс тишины и динамики</a></li>
                        <li><a href="#">Комфортная среда для каждого</a></li>
                        <li><a href="#">Умные планировки</a></li>
                        <li><a href="#">Детали</a></li>
                        <li><a href="#">Двор</a></li>
                        <li><a href="#">Команда проекта</a></li>
                        <li><a href="#">Мир вокруг</a></li>
                        <li><a href="#">Динамика строительства</a></li>
                    </ul>
                </div>

                <div class="main-menu__col">
                    <div class="h3">Парус</div>
                    <ul class="main-menu__item">
                        <li><a href="#">Новый центр вашего притяжения</a></li>
                        <li><a href="#">Баланс тишины и динамики</a></li>
                        <li><a href="#">Комфортная среда для каждого</a></li>
                        <li><a href="#">Умные планировки</a></li>
                        <li><a href="#">Детали</a></li>
                        <li><a href="#">Двор</a></li>
                        <li><a href="#">Команда проекта</a></li>
                        <li><a href="#">Мир вокруг</a></li>
                        <li><a href="#">Динамика строительства</a></li>
                    </ul>
                </div>

                <div class="main-menu__col">
                    <div class="h3">Eco Life</div>
                    <ul class="main-menu__item">
                        <li><a href="#">Новый центр вашего притяжения</a></li>
                        <li><a href="#">Баланс тишины и динамики</a></li>
                        <li><a href="#">Комфортная среда для каждого</a></li>
                        <li><a href="#">Умные планировки</a></li>
                        <li><a href="#">Детали</a></li>
                        <li><a href="#">Двор</a></li>
                        <li><a href="#">Команда проекта</a></li>
                        <li><a href="#">Мир вокруг</a></li>
                        <li><a href="#">Динамика строительства</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="main-menu__min">
            <ul class="min-menu">
                <li class="min-menu__item">
                    <a href="#" class="min-menu__link">Как купить</a>
                </li>
                <li class="min-menu__item">
                    <a href="#" class="min-menu__link">Акции</a>
                </li>
                <li class="min-menu__item">
                    <a href="#" class="min-menu__link">Контакты</a>
                </li>
                <li class="min-menu__item">
                    <a href="#" class="min-menu__link">Выбрать квартиру</a>
                </li>
                <li class="min-menu__item">
                    <a href="#" class="min-menu__link has-child">Жилые комплексы</a>
                    <ul class="min-menu__sub">
                        <li class="min-menu__item">
                            <a href="#" class="min-menu__link">Пять континентов</a>
                        </li>
                        <li class="min-menu__item">
                            <a href="#" class="min-menu__link">Ocean City</a>
                        </li>
                        <li class="min-menu__item">
                            <a href="#" class="min-menu__link">Парус</a>
                        </li>
                        <li class="min-menu__item">
                            <a href="#" class="min-menu__link">Eco Life</a>
                        </li>
                        <li class="min-menu__item">
                            <a href="#" class="min-menu__link min-menu__comeback"><span>Вернуться</span></a>
                        </li>
                    </ul>
                </li>
                <li class="min-menu__item">
                    <a href="#" class="min-menu__link">Документы</a>
                </li>
            </ul>
        </div>

        <div class="main-menu__footer">
            <div>
                <a href="tel:+9 (888) 777-66-55" class="main-menu__footer--phone">+9 (888) 777-66-55</a>
                <p>Ижевск, ул. Ленина, 21. Ждём вас!</p>
            </div>
            <a href="choose-flat.html" class="btn footer-link" >Выбрать квартиру</a>

            <ul class="main-menu__soc">
                <li>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fab fa-vk"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>
