<div class="manager">
    <div class="container">
        <div class="manager__wrap">
            <img src="static/img/brocker.png" class="manager__image">
            <div class="manager__text">
                <div class="h3 white-text">А в нашем офисе работает<br>
                    ипотечный брокер Алина
                </div>

                <p>Она ответит на все интересующие вас вопросы по ипотеке,
                    сделает для вас подробные расчеты и поможет в оформлении
                    кредитной заявки в банке совершенно бесплатно</p>
                <a href="#" class="btn btn-yellow btn-modal" data-modal="modalPhone2">Консультация</a>
            </div>

            <div class="manager__info">
                <div class="manager__info-item">
                    <span class="icon-time"></span>Выезд менеджера<br>
                    в удобное для вас<br>
                    время
                </div>
                <div class="manager__info-item">
                    <span class="icon-calc"></span>Удалённые<br>
                    индивидуальные<br>
                    расчёты
                </div>
                <div class="manager__info-item">
                    <span class="icon-check"></span>Удалённое<br>
                    оформление<br>
                    квартиры
                </div>
            </div>
        </div>
    </div>
</div>
