<div class="manager manager-buy">
    <div class="container">
        <div class="manager__wrap">
            <img src="static/img/brocker2.png" class="manager__image">
            <div class="manager__text">
                <div class="h3 white-text">Удобство покупки</div>

                <p>Вам будет нужно только один раз подписать документы,
                    без очередей и с индивидуальным менеджером,
                    ведущим вашу сделку на всём пути</p>
                <a href="#" class="btn btn-yellow btn-modal" data-modal="modalPhone1">Заявка</a>
            </div>

            <div class="manager__info">
                <div class="manager__info-item">
                    <span class="icon-time"></span>Выезд менеджера<br>
                    в удобное для вас<br>
                    время
                </div>
                <div class="manager__info-item">
                    <span class="icon-search"></span>Удалённый<br>
                    подбор квартиры
                </div>
                <div class="manager__info-item">
                    <span class="icon-check"></span>Удалённое<br>
                    оформление<br>
                    квартиры
                </div>
            </div>
        </div>
    </div>
</div>
