<div class="modal" id="modalPhone1">
    <div class="modal__container">
        <div class="modal__content modal-phone">
            <div class="modal-phone__text">Наши специалисты
                ответят на каждый <br>
                ваш вопрос!</div>
            <div class="modal-phone__form">
                <form>
                    <div class="form--group">
                        <input type="text" placeholder="Иван Иванов">
                    </div>

                    <div class="form--group">
                        <input type="phone" placeholder="Номер телефона*">
                    </div>

                    <div class="form--agree">
                        <input type="checkbox" id="agree">
                        <label for="agree">Согласие на обработку данных</label>
                    </div>

                    <button class="btn btn-yellow" type="submit">Отправить заявку</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modalPhone2">
    <div class="modal__container">
        <div class="modal__content modal-phone">
            <div class="modal-phone__text">Наш специалист
                подробно расскажет <br>
                вам об условиях <br>
                кредитования</div>
            <div class="modal-phone__form">
                <form>
                    <div class="form--group">
                        <input type="text" placeholder="Иван Иванов">
                    </div>

                    <div class="form--group">
                        <input type="phone" placeholder="Номер телефона*">
                    </div>

                    <div class="form--agree">
                        <input type="checkbox" id="phone2-agree">
                        <label for="phone2-agree">Согласие на обработку данных</label>
                    </div>

                    <button class="btn btn-yellow" type="submit">Отправить заявку</button>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal" id="modalRequest">
    <div class="modal__container">
        <div class="modal__content modal-phone">
            <div class="modal-phone__text">Наш специалист
                подробно расскажет <br>
                вам об условиях <br>
                кредитования</div>
            <div class="modal-phone__form">
                <form>
                    <div class="form--group">
                        <input type="text" placeholder="Имя*">
                    </div>

                    <div class="form--group">
                        <input type="phone" placeholder="Номер телефона*">
                    </div>

                    <div class="form--group">
                        <input type="email" placeholder="Почта*">
                    </div>

                    <div class="form--agree">
                        <input type="checkbox" id="request-agree">
                        <label for="request-agree">Согласие на обработку данных</label>
                    </div>

                    <button class="btn btn-yellow" type="submit">Отправить заявку</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modalVideo">
    <div class="modal__container">
        <div class="modal__content modal-video">
            <iframe width="100%" height="100%" src="https://www.youtube.com/embed/m6Q0hqf0xxg" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>
