<div class="have-question">
    <div class="container">
        <div class="have-question__wrap">
            <div class="h1 text-center">Расчет носит <br>предварительный <br>характер</div>


            <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nis</p>

            <a href="javascript:void(0)" class="btn btn-yellow btn-modal" data-modal="modalRequest">Заявка на расчет</a>
        </div>
    </div>
</div>
