<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Created with Inkscape (http://www.inkscape.org/) -->

<svg
        xmlns:svg="http://www.w3.org/2000/svg"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"

        version="1.1"
        id="svg181"
        width="1920"
        height="1080"
        viewBox="0 0 1920 1080">
    <metadata id="metadata187">
        <rdf:RDF>
            <cc:Work
                    rdf:about="">
                <dc:format>image/svg+xml</dc:format>
                <dc:type
                        rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                <dc:title></dc:title>
            </cc:Work>
        </rdf:RDF>
    </metadata>
    <g>
      <a href="/choose-flat.html"
        class="house"
        data-house="house-1">
        <path class="house-svg"
                style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                d="M493,825,525,770,463,663,407,664,374,713,435,816"
                id="1"

                inkscape:connector-curvature="0"
                />
      </a>
      <a href="/choose-flat.html"
        class="house"
        data-house="house-1">
        <path class="house-svg"
                style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                d="M160,629,283,787,340,792,381,741,284,614,222,598"
                id="2"

                inkscape:connector-curvature="0"
                />
      </a>
      <a href="/choose-flat.html"
        class="house"
        data-house="house-1">
        <path class="house-svg"
                style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                d="M328,672,355,652,258,521,209,504,165,541,210,602,219,597,283,614"
                id="3"

                inkscape:connector-curvature="0"
                />
      </a>
      <a href="/choose-flat.html"
      class="house"
      data-house="house-2">
        <path class="house-svg"
                style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                d="M477,502,520,509,593,508,616,606,611,622,552,617,500,614,457,520"
                id="4"

                inkscape:connector-curvature="0"
                />
      </a>
      <a href="/choose-flat.html"
      class="house"
      data-house="house-2">
        <path class="house-svg"
                style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                d="M417,450,469,455,524,466,534,509,500,506,476,504,459,517,477,560,445,560,405,466"
                id="5"

                inkscape:connector-curvature="0"
                />
      </a>
      <a href="/choose-flat.html"
      class="house"
      data-house="house-2">
        <path class="house-svg"
                style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                d="M372,415,408,422,459,426,467,454,417,450,405,464,427,515,392,509,354,426"
                id="6"

                inkscape:connector-curvature="0"
                />
      </a>
      <a href="/choose-flat.html"
      class="house"
      data-house="house-2">
        <path class="house-svg"
                style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                d="M459,407,473,397,512,406,558,410,559,427,550,426,536,436,550,483,528,483,523,465,489,457,476,454"
                id="7"

                inkscape:connector-curvature="0"
                />
      </a>
      <a href="/choose-flat.html"
      class="house"
      data-house="house-2">
        <path class="house-svg"
                style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                d="M552,427,595,437,645,443,662,528,652,547,600,542,594,510,558,508,537,439"
                id="8"

                inkscape:connector-curvature="0"
                />
      </a>
      <a href="/choose-flat.html"
      class="house"
      data-house="house-2">
        <path class="house-svg"
                style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                d="M583,396,628,397,676,410,690,493,674,502,654,499,646,446,605,441,587,438,577,404"
                id="9"

                inkscape:connector-curvature="0"
                />
      </a>
      <a href="/choose-flat.html"
      class="house"
      data-house="house-3">
        <path class="house-svg"
                style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                d="M965,529,986,429,1032,431,1033,450,1014,523,981,520,977,529"
                id="10"

                inkscape:connector-curvature="0"
                />
      </a>
      <a href="/choose-flat.html"
      class="house"
      data-house="house-3">
        <path class="house-svg"
                style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                d="M1066,532,1099,434,1141,441,1150,460,1119,552,1096,545,1095,534"
                id="11"

                inkscape:connector-curvature="0"
                />
      </a>
      <a href="/choose-flat.html"
      class="house"
      data-house="house-3">
        <path class="house-svg"
                style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                d="M1175,534,1214,450,1264,453,1276,473,1235,553,1228,559,1193,553"
                id="12"

                inkscape:connector-curvature="0"
                />
      </a>
      <a href="/choose-flat.html"
      class="house"
      data-house="house-3">
        <path class="house-svg"
                style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                d="M979,520,1095,533,1095,551,1070,617,962,600"
                id="13"

                inkscape:connector-curvature="0"
                />
      </a>
      <a href="/choose-flat.html"
      class="house"
      data-house="house-3">
        <path class="house-svg"
                style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                d="M1147,543,1271,561,1278,577,1236,648,1115,628"
                id="14"

                inkscape:connector-curvature="0"
                />
      </a>
      <a href="/choose-flat.html"
      class="house"
      data-house="house-4">
        <path class="house-svg"
                style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                d="M956,874,958,858,948,856,947,846,950,807,960,773,943,768,940,757,952,709,961,674,964,646,990,649,1091,665,1092,679,1081,681,1081,690,1044,777,1043,788,1022,785,1009,788,1020,794,1019,829,1013,834,990,884"
                id="15"

                inkscape:connector-curvature="0"
                />
      </a>
      <a href="/choose-flat.html"
      class="house"
      data-house="house-4">
        <path class="house-svg"
                style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                d="M1053,845,1170,871,1193,875,1224,886,1219,854,1206,851,1202,839,1170,831,1165,795,1174,797,1207,750,1208,734,1308,748,1329,818,1370,921,1351,919,1355,937,1312,969,1305,977,1309,992,1301,1002,1291,1006,1032,933,1036,883,1053,887"
                id="16"

                inkscape:connector-curvature="0"
                />
      </a>
    </g>


    <!-- <path class="house-svg"
            style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
            d="m 256.91103,499.21708 -64.22776,45.09609 143.48755,183.11743 68.3274,10.93239 57.39502,-66.96085 -122.98933,-153.05339 z"
            id="path191"
            inkscape:connector-curvature="0" />
    <path class="house-svg"
            style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
            d="m 490.59075,573.01068 -42.36299,62.86121 73.79359,125.72242 75.16014,12.29893 34.16371,-66.96086 -79.25979,-127.08896 z"
            id="path193"
            inkscape:connector-curvature="0" />
    <path class="house-svg"
            style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
            d="m 310.20641,413.12456 118.88968,155.78647 -28.69751,23.23132 -61.49467,-73.7936 -42.36298,-13.66548 -39.6299,-5.46619 v 0 0 0 l -13.66548,4.09965 -45.09608,-68.32741 49.19573,-49.19573 z"
            id="path195"
            inkscape:connector-curvature="0" />
    <path class="house-svg"
            style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
            d="m 569.85053,383.0605 -25.96441,24.59786 46.46263,113.42349 71.0605,8.19929 69.69395,-5.46619 13.66548,-20.49822 -31.4306,-113.42349 -80.62634,2.73309 z"
            id="path197"
            inkscape:connector-curvature="0" />
    <path class="house-svg"
            style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
            d="m 629.97865,342.06406 17.76512,45.09608 -46.46263,-5.46619 -31.43061,1.36655 -25.96441,24.59786 21.86477,56.02847 -34.1637,-5.46619 -45.09609,-122.98932 12.29894,-12.29894 61.49466,4.09965 z"
            id="path199"
            inkscape:connector-curvature="0" />
    <path class="house-svg"
            style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
            d="m 442.76157,280.5694 -17.76513,12.29893 40.99644,94.29181 39.6299,10.93239 -19.13168,-62.86121 12.29894,-12.29894 43.72953,4.09965 32.79716,6.83274 -23.23132,-36.8968 -61.49466,-4.09964 z"
            id="path201"
            inkscape:connector-curvature="0" />
    <path class="house-svg"
            style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
            d="m 573.95018,255.97153 -23.23132,17.76512 24.59787,60.12812 54.66192,8.19929 13.66548,30.06405 15.03203,-1.36654 -15.03203,-65.59431 21.86477,-10.93238 10.93238,1.36654 -6.83274,-24.59786 -54.66192,-2.7331 z"
            id="path203"
            inkscape:connector-curvature="0" />
    <path class="house-svg"
            style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
            d="m 714.70463,309.2669 60.12811,10.93239 20.49822,105.2242 -17.76512,15.03203 -51.92883,-12.29894 -12.29893,-38.26334 -43.72954,4.09964 -25.96441,-88.82562 32.79715,-9.56584 39.62989,17.76513 z"
            id="path205"
            inkscape:connector-curvature="0" />
    <path class="house-svg"
            style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
            d="m 706.50534,255.97153 -16.39858,17.76512 24.59787,35.53025 60.12811,10.93239 16.39858,66.96085 19.13167,4.09965 19.13167,-13.66548 -19.13167,-102.49111 -49.19573,-13.66548 z"
            id="path207"
            inkscape:connector-curvature="0" />
    <path class="house-svg"
            style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
            d="m 1160.1993,556.6121 -35.5303,154.41993 17.7652,10.93238 -8.1993,79.25979 10.9324,15.03203 1.3665,23.23131 h 20.4982 l 34.1637,1.36655 13.6655,-49.19573 9.5658,-8.19929 -1.3665,-56.02847 30.0641,6.83275 49.1957,-127.08897 15.032,-4.09965 -1.3665,-25.96441 -129.8221,-19.13167 z"
            id="path209"
            inkscape:connector-curvature="0" />
    <path class="house-svg"
            style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
            d="m 1389.7794,738.36299 61.4946,-75.16014 125.7224,25.96441 27.331,97.02491 32.7972,64.22776 13.6654,62.86121 -25.9644,-6.83274 -40.9964,35.53025 -12.299,28.69751 -20.4982,23.23131 -299.274,-81.99288 v -23.23132 l -9.5658,4.09965 4.0996,-53.29538 23.2313,6.83274 -5.4662,-31.4306 -8.1992,-19.13167 220.0142,50.56227 -13.6655,-39.62989 -25.9644,-5.46619 -5.4662,-20.49822 -40.9964,-4.09965 z"
            id="path211"
            inkscape:connector-curvature="0" />
    <path class="house-svg"
            style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
            d="m 1175.2313,409.02491 -24.5978,94.29182 24.5978,9.56583 42.363,2.7331 31.4306,4.09964 32.7972,6.83274 34.1637,-81.99288 -4.0997,-23.23132 -65.5943,-2.73309 z"
            id="path213"
            inkscape:connector-curvature="0" />
    <path class="house-svg"
            style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
            d="m 1186.1637,291.50178 -30.0641,116.15658 9.5659,13.66548 9.5658,-12.29893 40.9965,1.36655 19.1316,-79.25979 v -30.06405 z"
            id="path215"
            inkscape:connector-curvature="0" />
    <path class="house-svg"
            style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
            d="m 1315.9858,306.53381 -32.7972,110.69039 28.6975,4.09964 4.0997,23.23132 27.3309,8.19929 35.5303,-109.32385 v -34.1637 z"
            id="path217"
            inkscape:connector-curvature="0" />
    <path class="house-svg"
            style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
            d="m 1459.4733,321.56584 -57.395,103.85765 25.9644,24.59786 36.8968,-2.73309 h 21.8648 l 46.4626,-81.99289 -15.032,-45.09608 z"
            id="path219"
            inkscape:connector-curvature="0" />
    <path class="house-svg"
            style="fill:none;stroke:#000000;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
            d="m 1378.847,440.45552 -4.0997,-9.56584 -42.363,92.92527 21.8648,16.39857 38.2634,6.83274 87.459,17.76513 54.662,-86.09253 -5.4662,-25.96441 -64.2278,-5.46619 -36.8968,2.73309 -50.5623,-15.03203 z"
            id="path221"
            inkscape:connector-curvature="0" /> -->
</svg>
